/* Configuração global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rasa", serif;
  background-color: rgb(254, 255, 255);
  color: black;
  min-height: 100vh; /* Faz a imagem ocupar toda a altura da tela */
  overflow: hidden;
}

/* Definindo a imagem de fundo para ocupar toda a tela */
body {
  background-image: url("{% static 'img/barra.png' %}");
  background-size: cover; /* Faz a imagem cobrir toda a área */
  background-position: center center; /* Centraliza a imagem */
  background-attachment: fixed; /* A imagem fica fixa enquanto o conteúdo rola */
  min-height: 100vh; /* Garante que a imagem ocupe toda a altura da tela */
}

/* Barra lateral fixa */
.vertical-nav {
  position: fixed;
  top: 200px;
  left: 0;
  width: 250px;
  height: 100%;
  z-index: 100;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.vertical-nav ul {
  list-style-type: none;
  padding: 0;
  margin-left: -30px;
  margin-top: 10px;
}

.vertical-nav li {
  margin-bottom: 10px;
}

.vertical-nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: x-large;
  padding: 10px;
  display: block;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.vertical-nav a:hover {
  background-color: #3d5d8c;
  border-radius: 80px;
  margin-left: 7px;
}

/* Estilo para a div principal que contém o fundo */
.background-container {
  position: relative;
  width: 100%;
  min-height: 100vh; /* Garante que a div ocupe toda a altura da tela */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  padding: 20px;
  z-index: 1;
}

/* Logo Lumi */
.logo img {
  max-width: 250px; /* Limita o tamanho da logo */
  margin-top: 50px;
  margin-bottom: 20px;
}

/* Estilo para o número de visitas */
.visits p {
  font-size: 1.5em;
  font-weight: bold;
  color: white; /* Coloca o texto em branco para melhor contraste */
}
