{% extends "base_generic.html" %}

{% load static %}

{% block content %}

<div class="logo">
    <img src="{% static 'img/lumi_logo_cortada.png' %}" alt="Logo Lumi">
</div>

<div class="background-container">
    <!-- Logo Lumi -->


    <!-- Imagem de Fundo (ocupa praticamente a tela inteira) -->
    <div class="background-image">
        <img src="{% static 'img/barra.png' %}" alt="Imagem de Fundo">
    </div>

    <!-- Número de visitas -->
    <div class="visits">
        <p>Você visitou esta página {{ num_visits }} vez{{ num_visits|pluralize }}.</p>
    </div>
    {% endblock %}